@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

$background-color: rgba(4, 72, 55, 1);
$font-color: rgba(164, 201, 177, 1);
$slightly-tinted: rgb(112, 141, 122);
$glow-color: rgba(60, 179, 113, 0.6);
$montserratBig: "Montserrat", serif;
$montserrat: "Montserrat Alternates", sans-serif;

.header {
  background: $background-color;
  color: $font-color;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 520px;

  h2 {
    font-family: $montserratBig;
    font-weight: 700;
    position: absolute;
    left: 20px;
  }

  .loginButton {
    padding: 10px 8px 10px 8px;
    background: $font-color;
    color: $background-color;
    box-shadow: 0 0 20px $glow-color;
    border: 1px hidden;
    border-radius: 10px;
    margin-right: 30px;
    font-weight: 800;
    font-size: 1.2em;
    transition: all 0.4s;
    position: relative;
    top: -5px;

    &:hover {
      box-shadow: 0 0 40px $glow-color;
      background: $slightly-tinted;
      padding: 9px 7px 9px 7px;
      margin: 0 31px 1px 1px;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  .hamburger {
    padding: 5px 8px 5px 8px;
    background: $font-color;
    color: $background-color;
    box-shadow: 0 0 20px $glow-color;
    border: 1px hidden;
    border-radius: 20%;
    margin-right: 10px;
    font-weight: 800;
    font-size: 1.2em;
    transition: all 0.4s;

    &:hover {
      box-shadow: 0 0 40px $glow-color;
      background: $slightly-tinted;
    }

    &:active,
    &:focus {
      outline: none;
    }

    img {
      margin-top: 5px;
      height: 25px;
      width: 28px;
    }
  }
}

.navMenu {
  position: absolute;
  right: 46px;
  top: 80px;
  width: 200px;
  z-index: 10;

  

  button {
    height: 50px;
    width: 200px;
    background: $background-color;
    color: $font-color;
    font-weight: 600;
    font-size: 1.1em;
    border-right: 1px solid $glow-color;
    border-bottom: 1px solid $glow-color;
    border-top: 1px hidden;
    border-left: 1px hidden;
    transition: all 0.4s;
    padding: 2px;
    opacity: 0;
    transform-origin: top;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation-name: menu;
        animation-duration: 400ms;
        animation-delay: (200ms * $i) - 200ms;
        animation-timing-function: ease-out;
      }
    }

    &.opaque {
      opacity: 1;
    }

    &:hover {
      color: $background-color;
      background: $font-color;
      font-size: 1.2em;
    }
  }
}

@keyframes menu {
  0% {
    opacity: 0;
    display: none;
    transform: translateX(50px) rotateY(50deg) rotateX(75deg);
  }

  1% {
    opacity: 0;
    display: block;
    transform: translateX(50px) rotateY(50deg) rotateX(75deg);
  }

  100% {
    opacity: 1;
    display: block;
    transform: translateX(0) rotateY(0deg) rotateX(0deg);
  }

}
